{% extends 'board/base.html' %}

{% block content %}
<div class="container">
  {% if user.is_authenticatedS %}
  <div class="list-group">
    {% for item in object_list %}
    <a href="#" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ item.title }}</h5>
        <small class="text-muted">{{ item.created_at }}</small>
      </div>
      <small class="text-muted">{{ item.author }}</small>
    </a>
    {% endfor %}
  </div>
  {% else %}
  <div class="d-flex align-items-center justify-content-center">
    <h1>ログインしてください</h1>
  </div>
  <div class="d-flex align-items-center justify-content-center mt-3">
    <a href="{% url 'top' %}" class="me-5">トップ</a>
    <a href="{% url 'login' %}">ログイン</a>
  </div>
  {% endif %}
</div>
{% endblock content %}